.myWork {
    display: flex;
    padding: 3rem;
    gap: 1rem;
}

.left-myWork {
    flex: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Fragment Mono', monospace;
    padding-top: 1rem;
}

.right-myWork {
    flex: 3;
    padding-top: 1.5rem;
}

.work-container {
    display: flex;
    gap: 3rem;
}

.work-container div {
    font-family: 'Fragment Mono', monospace;
    font-size: 15px;
    margin-bottom: 1.5rem;
}

.work-container div:hover {
    cursor: pointer;
    color: crimson;
    font-weight: bold;
    border-bottom: 2px solid crimson;
}

.items img {
    width: 13.7rem;
    height: 10.9rem;
    border: 2px solid #9b9494;
}

.items {
    display: none;
}

.work-active-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

@media screen and (max-width: 768px) {
    .items img {
        width: 14.9rem;
    }
}

@media screen and (max-width: 425px) {
    .myWork {
        display: block;
        padding: 3rem 0;
    }

    .right-myWork {
        text-align: center;
        margin: 0 20px;
    }

    .items img {
        width: 11.2rem;
        height: 9rem;
    }

    .work-active-content {
        gap: 5px;
    }

    .work-container {
        gap: 2.9rem;
    }
}

@media screen and (max-width: 390px) {
    .items img {
        width: 10.5rem;
    }
}

@media screen and (max-width: 375px) {
    .items img {
        width: 10rem;
        height: 8rem;
    }

    .work-container {
        gap: 2.7rem;
    }
}

@media screen and (max-width: 375px) {
    .items img {
        width: 9.5rem;
        height: 7rem;
    }

    .work-container {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .items img {
        width: 8.3rem;
        height: 7rem;
    }
}