.about {
    display: flex;
    padding: 3rem;
    gap: 1rem;
}

.left-about {
    flex: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Fragment Mono', monospace;
    padding-top: 1rem;
}

.right-about {
    flex: 3;
    font-size: 0.9rem;
}
.right-about>p{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 22px;
}
.option-titles {
    display: flex;
    gap: 4rem;
    font-weight: bold;
}

.option-links:hover {
    color: crimson;
    border-bottom: 2.5px solid crimson;
}

.option-links {
    cursor: pointer;
    font-family: 'Bree Serif', serif;
    font-size: 16px;
}
/* 
.option-contents ul li {
    list-style: none;
    margin: 1rem 0;
} */

.option-contents {
    display: none;
    width: 21.6rem;
    font-family: 'Open Sans', sans-serif;
}

.option-contents ul li span {
    color: crimson;
    font-weight: bold;
}

.active-content {
    display: block;
}

.container {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
    margin: 8px 0;
}

.skill {
    background-color: rgb(91, 24, 185);
    padding: 1%;
    border-radius: 15px;
    height: 5px;
    transition: width 2s;
}
.progress-bar-container:not(:last-child) {
    margin-bottom: 30px;
}

/* Styling the h2 tag by giving color,
letter spacing, font-size etc.*/
.progress-bar-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 11px;
}

/* Styling the border and box
effect of the progress bar*/
.progress-bar {
    width: 300px;
    height: 5px;
    margin-top: 10px;
    border: 1px solid #565656;
    border-radius: 5px;
}
/* Stylingthe background color of each
        animation and border radius */
        .percentage {
            display: block;
            height: 100%;
            background-color: rgb(91, 24, 185);
            border-radius: 5px;
            animation: progress 1500ms ease-in 1;
        }
.skill:hover{
    width: 100%;
}
.html{
    width: 100%;
}
.css{
    width: 95%;
}
.JS{
    width: 90%;
}
.react{
    width: 85%;
}
.node{
    width: 40%;
}
.express{
    width: 35%;
}
.mongo{
    width: 35%;
}
/* Animating the progress bar by
        initially starting from 0*/
        @keyframes progress {
            from {
                width: 0;
            }
        }
@media screen and (max-width: 425px){
    .about{
        display: block;
        padding: 3rem 0;
    }
}
@media screen and (max-width: 320px){
    .option-contents{
        width: 11.6rem;
    }
}