.header{   
    display: flex;
    justify-content: space-between;
    padding: 5.3px 60px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.nonScrollHeader{
    background-color: #121111;
    color: white;
}
.scrollingHeader{
    background-color: crimson;
    color: white;
}
.left-header{
    font-size: 30px;
    font-family: "Sofia", sans-serif;
}
.right-header{
    display: flex;
    gap: 31px;
    align-items: center;
}
.right-header>div:hover{
    font-weight: 500;
    cursor: pointer;
}
.menubar{
    display: none;
}
.menu-icon{
    cursor: pointer;
    position: relative;
}
.menu-list{
    position: absolute;
    top: 54.5px;
    right: 2.9px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #121111;
    padding: 10px 30px;
    align-items: center;
}

/* RESPONSIVE ***********************************/

@media screen and (max-width:768px) {
    .header{
        padding: 5.3px 25.4px;
    }
    .right-header{
        gap: 21px;
    }
    
}
@media screen and (max-width:425px){
    .right-header{
        display: none;
    }
    .header{
        align-items: center;
    }
    .menubar{
        display: inline;
    }
}
